<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>breadnime! - ad free anime</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@900&display=swap" rel="stylesheet">
        <link
            href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
            rel="stylesheet">
        <link rel="stylesheet" href="../styles/gallery.css">
        <link href="../styles/style.css" rel="stylesheet">
    </head>

    <body>

        <nav>
            <a href="index.html" id="main-logo">
                <img src="../images/bread.png" alt="logo" class="logo">
                <h1>breadnime!</h1>
            </a>
            <div class="leftnav">
                <div class="search-wrapper">
                    <form id="search">
                        <input type="text" placeholder="Search" id="anime-search" class="search">
                        <input type="submit" value="GO!" class="button">
                        <input type="button" value="Random" class="rando">
                    </form>
                </div>
            </div>
        </nav>

        <section>
            <h4 class="side" id="result-header">Search Result: NAME SEARCHED</h4>
            <div class="gallery">
                <!-- jquery with list of divs for each anime result -->
            </div>
        </section>

        <footer>
            <img src="" id="footer-logo">
            <div class="footer-content">
                <h6>Built with the GoGoAnime API by users, for users.</h6>
                <h7>@breadnmkii @localhermit, 2022. A CSE204 final project</h7>
            </div>
        </footer>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
            <script src="../scripts/view.js"></script>
            <script src="../scripts/search.js"></script>
            <script>
                // On page load get searched anime
                $(document).ready(() => {
                    console.log("Fetching searchAnime data...");
                    console.log(searchAPI.getSearchAnime());

                    // Render gallery
                    renderAPI.renderAnimeGallery(searchAPI.getSearchAnime());
                });
            </script>
    </body>
</html>