extends layouts/base.pug
include mixins/mixes.pug

block append styles 
    link(rel='stylesheet' href='/static/styles/gallery.css')

block nav 
    +navbar

block section 
    section 
        - let searchTerms = search;
        h4.side#result-header Search Result: #{searchTerms}
        .gallery 
            // Render gallery data here
            - let aniData = data;
            each ani in aniData.results 
                a(id=ani.id onclick='openAnime(this)')
                    .imggall 
                        .img 
                            img(src=ani.image)
                        h4= ani.title
