<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>breadnime! - ad free anime</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../styles/index.css">
        <link rel="stylesheet" href="../styles/style.css">
    </head>
    <body>
        <section>
            <div class="main-content">
                <div id="main-logo">
                    <img src="../images/bread.png" alt="logo" class="logo">
                    <h1>breadnime!</h1>
                </div>
                <h3>Ad-free anime, really!</h3>
                <div class="search-wrapper">
                    <form id="search">
                        <input type="text" placeholder="Search" id="anime-search" class="search">
                        <input type="submit" value="GO!" class="button">
                        <input type="button" value="Random" class="rando">
                    </form>
                </div>
            </div>
            <div id="intro-text">
                <h4>
                    Enjoy your favorite anime, browsing stress (crtl+w) free.
                </h4>
            </div>
            <div class="sub-content">
                <button>
                    <img id="left-carousel" src="../images/Vector.png" alt="left">
                </button>
                <div class="carousel">
                    <!-- Populate with jquery for popular anime -->
                </div>
                <button>
                    <img id="right-carousel" src="../images/Vector-1.png" alt="right">
                </button>
            </div>
        </section>

        <footer>
            <div class="footer-content">
                <h6>Built with the GoGoAnime API by users, for users.</h6>
                <p class="h7">@breadnmkii @localhermit, 2022. A CSE204 final project</p>
            </div>
        </footer>


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="../scripts/search.js"></script>
        <script src="../scripts/view.js"></script>
        <script>
            // On page load render carousel
            $(document).ready(() => {
                renderAPI.renderTrendingCarousel();
            });
        </script>
    </body>
</html>