extends layouts/base.pug

block append styles 
    link(rel='stylesheet' href='static/styles/index.css')

block section
    section
        .main-content
            #main-logo
                img.logo(src='static/images/bread.png' alt='logo')
                h1 breadnime!
            h3 Ad-free anime, really!
            .search-wrapper
                // Pseudo-form
                form#search
                    input#anime-search.search(type='text' placeholder='Search')
                    input.button(type='submit' value='GO!')
                    input.rando(type='button' value='Random')
        #intro-text
            h4
            | Enjoy your favorite anime, browsing stress (crtl+w) free.
        .sub-content
            button
                img#left-carousel(src='static/images/Vector.png' alt='left')
            .carousel
                // Render carousel data here
                - let aniData = data;
                each ani in aniData.results
                    .carousel-item
                        a(id=ani.id onclick='openAnime(this)')
                            .mainview 
                                .img 
                                    img(src=ani.image)
                                p= ani.title
            button
                img#right-carousel(src='static/images/Vector-1.png' alt='right')
        
