.side{
    margin-top: 3rem;
    text-align: left;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
    gap: 2rem;

    margin-right: auto;
    margin-left: auto;
    margin-top: 2em;
    margin-bottom: 3rem;
}

.imggall {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.imggall img {
    width: 100%;
    padding-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
}

@media (max-width: 900px) {
    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 600px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}

