section{
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#main-logo {
    width: 25%;
    margin-right: auto;
    margin-left: auto;
}

.logo{
    width: 30%;
    max-width: 100px;
    display: block;
    margin-bottom: 1em;
}

#intro-text{
    display: block;
    width: 75%;
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2em;
    margin-bottom: 2.5em;
}

.search-wrapper{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
}

.sub-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
button{
    border: none;
    background-color: transparent;
    padding-bottom: 4rem;
}

.carousel{
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    display: flex;
    align-items: flex-start;
    margin-bottom: 1em;
    margin-right: 1.5em;
    margin-left: 1.5em;
}

.carousel-item {
    scroll-snap-align: center;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}

.mainview {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.img{
    margin-bottom: 1em;
}
.img img{
    width: 20vh;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.carousel::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.carousel {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

@media (max-width: 600px) {
    button img{
        width: 30px;
    }
}

@media (max-width: 480px) {
    button img{
        width: 20px;
    }
}

